.cardsgrid {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
}

.cards {
    width: 100%;
    aspect-ratio: 5/6;
    background-color: brown;
    border-radius: 6px;
}

.face {

}