@import url(https://fonts.google.com/specimen/Playfair+Display+SC?category=Serif,Display,Monospace);

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;   
}